.red{
  background-color: red;
  width: 150px;
  height: 150px;
}
.blue{
  background-color: blue;
  width: 150px;
  height: 150px;
}

.green{
  background-color: green;
  width: 150px;
  height: 150px;
}

.yellow{
  background-color: yellow;
  width: 150px;
  height: 150px;
}
