body {
  background-color: #303032;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  margin: 8px;
}
.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}
.card__content {
  padding: 20px;
}
.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}
.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}
.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}
.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}
head {
  display: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
user agent stylesheet
div {
  display: block;
}
cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
user agent stylesheet
section {
  display: block;
}
main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
