* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Signup__ {
  max-width: 100%;
  background: white;
  box-shadow: 0px 9px 26px 0px rgba(37, 42, 50, 1);
  border: 2px solid #252a32a2;
  height: auto !important;
  position: relative;
  margin-bottom: 75px;

  .Signup__ErrorRegister {
    font-weight: 600;
    font-size: 16px;
    line-height: -35px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .Signup__AlertSuccess {
    font-weight: 600;
    font-size: 16px;
    line-height: -35px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .Signup__BlueLogo {
    display: none;
    position: absolute;
    max-width: 75px;
    top: 0;
    right: 15px;
  }

  .Signup__Form {
    display: flex;
    flex-direction: column;
  }

  .Signup__Variant {
    width: 100%;
    flex: 1 !important;
  }

  p {
    color: #4d525a;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .Signup__Container {
    width: 100%;
    height: 100%;
    background: url("../../Logo/Nature.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-size: 60px;
    }

    p {
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .Signup__BlueBackground {
    width: 100%;
    height: 100%;
    background: #7733ff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
  }

  .Signup__InfoText {
    z-index: 20 !important;
  }

  .Signup__Form {
    display: flex;
  }

  .Signup__ImageLogoWhite {
    width: 250px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
  }

  .Signup__GridSecond {
    padding: 75px 50px;

    h1 {
      font-size: 50px;
      color: #252a32;
    }
  }

  Button {
    background: #7733ff;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid white;
    margin-top: 25px;
  }

  Button:hover {
    background: white;
    color: #7733ff;
    border: 2px solid #7733ff;
  }
}

@media screen and (max-width: 1150px) {
  .Signup__Container {
    h1 {
      font-size: 50px !important;
    }

    p {
      font-size: 17px !important;
    }
  }
}

@media screen and (max-width: 959px) {
  .Signup__BlueLogo {
    display: block !important;
  }

  .Signup__GridSecond {
    h1 {
      font-size: 40px !important;
    }
  }

  .Signup__GridFirst {
    display: none;
  }
}
